---
layout: default
title: Chunge Bai's Homepage
subTitle: We are so curious about this world. We still have the courage to abandon everything. Even if the gold in our hands turns to dust, if we let go, empty palms can still grasp iron. — Xiaobo Wu
---
{% include hero.html %}

<div id="projects" class="container">
    <div class="row">
        {% if site.posts.size > 0 %}
            {% for post in site.posts %}
                {% include article-content.html %}
            {% endfor %}
        {% endif %}
    </div>
</div>

{% include publications.html %}