 <div id="publications" class="Publications">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2>Publications</h2>
                    <ul>
                        <li>
                            <strong>Colmap-PCD: An Open-source Tool for Fine Image-to-point cloud Registration</strong><br>
                            Chunge Bai, Ruijie Fu, Xiang Gao, ICRA 2024<br>
                            Link: <a href="https://arxiv.org/abs/2310.05504">https://arxiv.org/abs/2310.05504</a>
                        </li>
                        <li>
                            <strong>Anderson Acceleration for on-Manifold Iterated Error State Kalman Filters</strong><br>
                            Xiang Gao, Tao Xiao, Chunge Bai, Dezhao Zhang, Fang Zhang, RAL 2022<br>
                            Link: <a href="https://ieeexplore.ieee.org/document/9917282">https://ieeexplore.ieee.org/document/9917282</a>
                        </li>
                        <li>
                            <strong>Faster-LIO: Lightweight Tightly Coupled Lidar-Inertial Odometry Using Parallel Sparse Incremental Voxels</strong><br>
                            Chunge Bai, Tao Xiao, Yajie Chen, Haoqian Wang, Fang Zhang, Xiang Gao, RAL 2022<br>
                            Link: <a href="https://doi.org/10.1109/LRA.2022.3152830">https://doi.org/10.1109/LRA.2022.3152830</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

